<div class="navbar navbar-inverse">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Steam<font color="#1ca8dd"><i>Pal</i></font></a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a href="#">Unusuals</a></li>
						<li><a href="#">Weapons</a></li>
					</ul>
				</li>
				<li><a routerLink="/Sell">Sell</a></li>
				<li><a routerLink="/About">About</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<li *ngIf="!isUserLoggedIn()">
					<a href="/Account/Login" class="steam-signin-button">Login</a>
				</li>
				<li *ngIf="isUserLoggedIn()" class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{getUserName()}}<span class="caret"></span></a>
					<ul class="dropdown-menu">
						<li><a routerLink="/AccountSettings">Account Settings</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="#">Add Funds</a></li>
						<li><a href="#">Cashout</a></li>
						<li role="separator" class="divider"></li>
						<li><a href="/Account/Logout">Logout</a></li>
					</ul>
				</li>
				<li *ngIf="isUserLoggedIn()">
					<img src="{{getUserAvatar()}}"/>
				</li>
			</ul>
		</div>
	</div>
</div>

<router-outlet></router-outlet>

<h1><b>Welcome to {{title}}, {{getUserName()}}!!!</b></h1>
<div><label>Your name is: </label>{{name}}</div>
<div>
	<label>name: </label>
	<input [(ngModel)]="name" />
</div>